@media screen and (max-width:1024px)
{
    section .shadow-lg
    {
        flex-direction: column;
    }

    section .shadow-lg img
    {
        margin: 0 auto;
    }
}

@media screen and (max-width:768px)
{
    #about
    {
        flex-direction: column;
        gap: 5px;
    }

    #about .my-5
    {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .width
    {
        width: 100%;
    }

    .text-4xl
    {
        font-size: 25px;
    }

    .text-xl
    {
        font-size: 17px;
    }
}

@media screen and (max-width:425px)
{
    section.px-32
    {
        padding-left: 25px;
        padding-right: 25px;
    }
}
